*{
    margin: 0;
    padding: 0;

 }
 body{
    margin:15px;
    padding: 15px;
    background-color: #FEFCFB;
 }
header{
    display:grid;
    flex-direction: column;
    grid-template-columns: 1fr 2fr  1fr;
    color: black;
    
    
}
 .logoname{
    font-size:3em;
}
.logo{
    width: 50px;
}
.nav-link{
   display: flex;
   flex-direction: row;
   gap:10px;
   align-items: center;
   justify-content: center;
}

.logo-link{
    display: flex;
    size: 20px;
    align-items: center;
    justify-content:left;
    gap:10px;
}
.logo{
    font-size:20px;
    
}
a{
    text-decoration: none;
    color:black;
    font-size: 2em;
}
@media (max-width:600px) {
    .header{
        
        display: flex;
        grid-template-columns;
        gap:20px;

    }
}
.btn{
    background-color: #FA7436;
    color:whitesmoke;
    
    box-sizing: 50px;
    padding: 10px;
    border-radius: 5px;
    

}
button{
    font-size: 2rem;
    padding: 10px;
    color: #FA7436;
    border: none;
    background-color: white;
}
.btn-one{
    display: flex;
    size: 2rem;
    align-items: center;
    justify-content:left;
    gap:10px;
  
          
}
.page-1{
    display: grid;
    grid-template-columns: 2fr 2fr 1fr ;
    margin: 15px;
    padding: 15px;
}
h2{
    font-size: 4em;
}
p{
    font-size: 2em;
    padding-top:25px;
    padding-bottom: 100px;
    font-style:"poppins";
    
}
.para{
    padding: 15px;
    margin: 15px;
    display:flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
}
span{
    color: #FA7436;
}
.btn-discover{
    font-size: 1.5em;
    width:200px;
    align-items: center;
    justify-content: left;
    border: #FA7436;
    border-style:solid ;
    

}
.image{
    display: flex;
    position: relative;
    width: 200px;

    

}
.img1{
  width:500px;  
  height: 250px; 
  top:100px;
  transform: translateY(180px);
    
}
.img2{
 width:400px;
    position: absolute;
    transform: translateX(50px);
}
.home{

    padding: 15px;
    display:flex;
    margin: 20px;
    font-size: 18px;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    
}

.filter-a {
     font-size: 1rem;
     padding: 10px;
background-color: #FFFFFF;
}

.filter-item {
    display: flex;
   padding: 20px;
   font-size: 20px;
justify-content: left;
align-items: center;
width: 200px;


}
.page-2{
 padding:15px;
 margin: 15px;
 background-color: #F7F8FC;
 align-items: center;
 display: flex;
 flex-direction: column;

}
.p-2{
     
    align-items: center;
    justify-content: center;
}
.cards{
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
    display: flex;
    background-color:#FFFFFF ;
 justify-content: center;
 border-radius: 20px;

}
.card-1{
    font-size: 18px;
   
    padding: 50px;
    margin: 15px;
    b
}
.pag-2{
    font-size: 30px;
    padding-top: 50px;
    padding-bottom: 30px;
}
.crd-p{
font-size: 24px;
}


.page-3{
    padding: 50px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #FEFCFB;
}
.gallery{
    display: flex;
    position: relative;
    padding: 10px;
    margin:10px ;
}
.gallery-card{
  
    padding: 30px;
    margin: 30px;
}
.images{
    margin: 15px;

   display: flex;
    
}
.contry{
    padding: 15px;
    font-size: 16px;
    transform: translateY(20px);
    

}
.trip{
    font-size: 20px;
}
.old{
    padding-left:60%;
    font-size: 12px;
    text-decoration:line-through;
    
}
.new{
 transform: translateY(-15px);
    padding-left: 80%;
    font-size: 12px;
    font-style: bold;
    border-radius: 10px;
   
   
}
i{
    padding-left: 50%;
}

.page-4{
    padding: 16px;
    margin:16px;
    display: flex;
    flex-direction: column;
    background-color:#FEFCFB;
    align-items: center;
    justify-content: center;

}
.best{
    text-align: center;
}
.galry-img{
    margin: 10px;
    padding: 15px;
}
.fa-solid fa-star{
    padding: 50%;
}
.country{
    font-size: 18px;
}
h5{
    font-size: 18px;
}
.old1{
    font-size: 16px;
}
.what{
    padding: 16px;
    margin:16px;
    display: grid;
    grid-template-columns: 2fr 2fr ;
    align-items: center;
    justify-content: center;
    background-color: #F7F8FC;
}
.topic{
    padding: 20px;
    padding-left: 20%;
    margin: 15px;
}
h1{
    font-size: 3em;
}
.slid{
  padding: 60px;
}
.client-2{
    position: absolute;
    order: 2;
    transform: translateY(300px);
   opacity: 0.2;
} 
.elem{
    padding-left:60%;
    transform: translateY(50px);
}
.client{
    opacity:1;
    order:1;
}
.page-6{
    padding: 16px;
    margin: 16px;
    display: flex;
    flex-direction: column;
    background-color: #FEFCFB;
   width: 100%;
}
.blog{
    padding: 50px;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.blog-imgs{
    
    padding: 50px;
    margin:20px;
    align-items: center;
   justify-content: center;
    display: flex;
    g
   
}
.b-1{
 
    padding: 10px;
    margin: 10px;

    justify-content: center;
    
}
.pp{
    font-size: 24px;
}

page-6{
   
    display: flex;
    
    width:100%;
    padding: 50px;
    margin: 50px;
    background-color: #F7F8FC;
    align-items: center;
    justify-content: center;
    color:#F7F8FC;

}
.last-card{
  
    background-color: #FA7436;
margin: 20px;
height: 300px;
 padding: 100px;
 justify-content: center;
 
}

.input-icons{
    border:none;
    background-color: #FFFFFF;
    
    position: absolute;

}
.input-field{
    position: absolute;
    width: 500px;
    height: 80px;
   transform: translateY(100%) translateX(-180%);
   
}
   

.btn-lst{
    position: absolute;
    display: flex;
     transform: translateX(350%) translateY(-550%);
background-color: #FA7436;
color: #F7F8FC;
    } 
.footer{
position: relative;
    display: grid;
 grid-template-columns: 2fr 1fr 3fr;
 margin: 15px;
 padding: 15px;
}

.left-last {
    position: relative;
    display: flex;
  padding: 20px;
    
}
.last-para{
    display: flex;
    flex-direction: column;
    padding: 50px;
    
}

.logo-l a{
    display: flex;
}
.last-right{
    display: flex;
    padding-top: 20px;
    margin: 20px;
    gap:20px;
    align-self: flex-start;
    justify-content: center;
}
ul{
    justify-content:space-around;
    gap:10px;
}
li{
    width:100px;
    font-size: 24px;
    align-items: flex-start;
    justify-content: space-around;
list-style-type:none;
}
ul li{
    margin-bottom: 10px;
    margin-right: 15px;
}
h4{
    font-size: 20px;
}